---
// src/components/ExperienceContent.astro
export interface Props {
  content: {
    title: string;
    jobs: Array<{
      title: string;
      company: string;
      dates: string;
      desc: string[];
    }>;
  };
}

const { content } = Astro.props;
---
<div class="container">
    <h2>{content.title}</h2>
    <div class="timeline" data-sb-field-path="experience_section.jobs"> {/* Retaining this one as it applies to the list as a whole */}
        {content.jobs.map((job: any) => (
            <div class="timeline-item card">
                <h3>{job.title}</h3>
                <p class="company">{job.company}</p>
                <p class="dates">{job.dates}</p>
                <ul>
                    {job.desc.map((descItem: string) => (
                        <li>{descItem}</li>
                    ))}
                </ul>
            </div>
        ))}
    </div>
</div> 